.page-header {
  &__top,
  &__bot {
    display: flex;
    align-items: center;
    margin: 0 2rem;
  }

  &__link,
  &__search {
    margin-left: auto;
  }

  &__back-link {
    margin-top: 2px;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &__sort {
    .bp3-button:hover,
    .bp3-button.bp3-active {
      background: none !important;
      color: $LightBlue !important;

      .bp3-icon {
        fill: $LightBlue;
      }
    }

    .bp3-button.bp3-active {
      font-weight: bold;
    }
  }

  &__search {
    input {
      border-radius: 1rem;
    }
  }
}
