.header {
  color: $PrimaryLight;

  &__top {
    background-color: $LightBlue;
    display: flex;
    align-items: center;

    .logo {
      height: 2rem;
      fill: $PrimaryLight;
      margin: 2rem 2rem;
    }
  }

  &__tab {
    padding: 1.25rem 2rem;
    background-color: $DarkBlue;
    line-height: 1.5;
  }

  &__account-info {
    margin-left: auto;
  }

  &__navigation {
    color: $PrimaryLight;
    background-color: $DarkBlue;
    text-transform: uppercase;
    padding-left: 2rem;

    ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 1rem 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__account-info,
  &__user {
    margin-right: 2rem;
  }
}
