// Fonts
$OpenSans: "OpenSans";
$OpenSansLight: "OpenSans-Light";
$OpenSansSemi: "OpenSans-SemiBold";
$OpenSansBold: "OpenSans-Bold";

$DefaultFont: $OpenSans;

// Colors

$PrimaryDark: #7f7f7f;
$PrimaryLight: #ececec;
$White: #ffffff;
$Black: #000000;
$Green: #41ae60;
$Error: #ff0000;
$LightBlue: #0290d0;
$DarkBlue: #0473aa;
