// Fonts
$OpenSans: "OpenSans";
$OpenSansLight: "OpenSans-Light";
$OpenSansSemi: "OpenSans-SemiBold";
$OpenSansBold: "OpenSans-Bold";

$DefaultFont: $OpenSans;

// Colors

$PrimaryDark: #7f7f7f;
$PrimaryLight: #f2f3f4;
$Black: #000000;
$Green: #41ae60;
