@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../assets/fonts/OpenSans-light.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../assets/fonts/OpenSans-semibold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/fonts/OpenSans-bold.woff") format("woff");
}
